.venv/
.gem/
__pycache__/
*.pyc
10_WHEELS/
wordlists/rockyou.txt.tar.gz
ICO2027_PREP_PACK.zip
ico-2027.bundle
05_REPOS/PayloadsAllTheThings/
05_REPOS/SecLists/
05_REPOS/hacktricks/
05_REPOS/ctf-wiki/
05_REPOS/volatility3/
05_REPOS/pwntools/
05_REPOS/ico-tasks/
99_BACKUP/
.cache/
.local/
11_INSTALLERS/
